$color :(
  base: rgb(0, 0, 0),
  nav: rgb(26, 22, 22),
  header-main: rgb(26, 22, 22),
  header-deco: rgb(71, 173, 182)
);


$font-family-base: Verdana, Geneva, Tahoma, sans-serif;

* {
  font-family: $font-family-base;
  margin: 0 auto;
  padding: 0;
}

body>*{
    width: 100%;
}