* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 auto;
  padding: 0;
}

header {
  position: relative;
  width: 1180px;
  height: 120px;
}
header > h1 {
  position: absolute;
  left: 10px;
  bottom: 15px;
}

body {
  margin: 0 auto;
  width: 100%;
}

nav {
  position: absolute;
  right: 0px;
  bottom: 15px;
}
nav ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  float: left;
  margin: 0 35px 0;
}
nav ul li a {
  text-decoration: none;
  font-weight: 1000;
  color: #333;
  font-size: 22px;
}
nav ul li a:hover {
  color: #765a9b;
}

.util_list {
  margin: 0 auto;
  font-size: 20px;
  position: absolute;
  top: 20px;
  right: 30px;
}
.util_list ul {
  display: inline-block;
  list-style-type: none;
}
.util_list ul li {
  float: left;
  margin: 0 14px;
}
.util_list ul li a {
  text-decoration: none;
  font-weight: 1000;
  color: #ab8c8c;
  font-size: 11px;
}
.util_list ul li a:hover {
  color: #ad9cc3;
}

main {
  position: relative;
  width: 1180px;
  height: 590px;
  padding-top: 0.1px;
}
main > .main_text_box {
  width: 800px;
  margin: 150px auto;
}
main > .main_text_box > p:first-of-type {
  margin: 0;
  background-color: transparent;
  color: #fff;
  font-size: 80px;
  font-weight: 1000;
}
main > .main_text_box > p:not(:first-of-type) {
  margin: 0;
  background-color: transparent;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
}
main > .main_text_box > p {
  font-weight: 1000;
}

section {
  position: relative;
  width: 1080px;
  height: 450px;
}
section > p {
  margin: 40px auto;
  text-align: center;
  font-size: 20px;
  font-weight: 1000;
}
section article {
  width: 230px;
  margin: 0px auto;
  float: left;
}
section article > p:first-of-type {
  margin: 0;
  background-color: transparent;
  color: #000;
  font-size: 16px;
  font-weight: 1000;
}
section article > p:not(:first-of-type) {
  margin: 0;
  background-color: transparent;
  color: #000;
  font-size: 16px;
  font-weight: 400;
}
section article:nth-child(2) {
  margin-right: 53.3333333333px;
}
section article:nth-child(3) {
  margin-right: 53.3333333333px;
}
section article:nth-child(4) {
  margin-right: 53.3333333333px;
}

footer {
  background-color: navy;
  color: white;
  width: 1180px;
  height: 180px;
}
footer .bg {
  width: 1000px;
  height: 100px;
  box-sizing: border-box;
  position: relative;
}
footer .bg > h1 {
  position: absolute;
  left: 10px;
  bottom: 15px;
  margin: 0 auto;
}
footer .bg ul {
  display: inline-block;
  list-style-type: none;
}
footer .bg ul li {
  float: left;
  margin: 0 0;
}
footer .bg ul li a {
  text-decoration: none;
  font-weight: 1000;
  color: #cdb6b6;
  font-size: 13px;
}
footer .bg ul li a:hover {
  color: #765a9b;
}
footer .bg ul li {
  display: inline-block;
  padding: 0 15px;
  border-right: 2px solid white;
}
footer .bg ul li:last-child {
  border-right: none;
}
footer .bg ul {
  position: absolute;
  right: 20px;
  bottom: 15px;
}
footer p {
  width: 1000px;
  height: 80px;
  margin: 0 auto;
  box-sizing: border-box;
  color: white;
  display: block;
  font-size: 11px;
}/*# sourceMappingURL=index.css.map */