@import '../../common/common.scss';
@import '../variables.scss';

main {
  height: 590px;

  div {
    width: 800px;
    height: 300px;
    margin: 0 auto;
    padding: 150px 0 0;
    color: map-get($map: $main-color, $key: base);

    > p {
      font-size: 80px;
      margin: 0;
      font-weight: 1000;

      ~ p {
        font-size: 25px;
      }
    }
  }
}