@import '../../common/common.scss';
@import '../variables.scss';

$main-height:590px;
$main-div-size:800px;
$main-div-padding-top:150px;
$base-margin:(0 auto);

main {
  height: $main-height;

  div {
    width: $main-div-size;
    height: $main-div-size;
    margin: $base-margin;
    padding-top: $main-div-padding-top;
    color: map-get($map: $main-color, $key: base);

    > p {
      font-size: 80px;
      font-weight: 1000;

      ~ p {
        font-size: 25px;
      }
    }
  }
}