@import "../../common/common.scss";
@import "../variables_gallery.scss";

$base-width:1000px;

.p-common {
  position: absolute;
  font-weight: 600;
  text-align: start;
  color: map-get($map: $color, $key: section-base);
}

section {
  padding: 130px 0 0 0;
  width: $base-width;
  font-size: 0;

  article {
    position: relative;
    float: left;
  }

  $article-top-margin:(0 0 10px 10px);
  .article1 {
    p {
      @extend.p-common;
      right: 10px;
      bottom: 10px;
      font-size: 30px;
    }
  }

  .article2 {
    margin: $article-top-margin;

    p {
      @extend.p-common;
      top: 50px;
      left: 10px;
      font-size: 30px;
    }
  }

  .article3 {
    margin: $article-top-margin;

    p {
      @extend.p-common;
      right: 10px;
      bottom: 20px;
      font-size: 20px;
    }
  }

  $article-mid-left-margin:(0 0 10px 0);
  $article-mid-right-margin:(0 0 0 10px);
  .article_4_box {
    width: 490px;
    height: 500px;
  }
  .article4 {
    margin:$article-mid-left-margin;

    .p1 {
      @extend .p-common;
      color: black;
      width: 300px;
      top: 160px;
      font-size: 14px;
      margin: 0 95px;
    }

    .p2 {
      @extend .p-common;
      font-size: 30px;
      right: 20px;
      bottom: 30px;
      color: map-get($map: $color, $key: section-gold);
    }
  }

  .article5 {
    margin: $article-mid-right-margin;
  }

  $article-btm-margin:(0 0 10px 0);
  .article6 {
    width: 1000px;
    height: 371px;
    background-image: url("/rsc/1000x371.png");
    margin:$article-btm-margin;
    p {
      display: inline-block;
      width: 100%;
      text-align: center;
      font-size: 50px;
      font-weight: 700;
      margin: 160px auto;
      color: map-get($map: $color, $key: section-base);
      text-shadow: 3px 10px 3px black;
    }
  }

  .article7 {
    margin:$article-btm-margin;

    p {
      @extend .p-common;
      width: 450px;
      height: 150px;
      right: 30px;
      bottom: 40px;
      font-size: 20px;
      font-weight: 100;

      span {
        display: inline;
        font-size: 30px;
        font-weight: 700;
      }
    }
  }
}