header div {
    position: relative;
    width: 1180px;
    height: 120px;
}

header h1 {
    position: absolute;
    left: 10px;
    bottom: 15px;
}

.global_navigation_bar {
    right: 0px;
    bottom: 0px;
    font-size: 20px;
    padding-right: 16px;
}
.global_navigation_bar>li {
    margin: 0px 30px 15px;
}

.global_navigation_bar>li>a {
    text-decoration: none;
    font-weight: 1000;
    color: rgb(82, 77, 77);
}

.global_navigation_bar>li>a:hover {
    color: rgb(104, 107, 159);
}

.utility_bar {
    right: 30px;
    top: 20px;
    font-size: 11px;
    margin: 0 auto;
}

.utility_bar li {
    margin: 0px 14px;
}