@import '../common.scss';
li {
    float: left;
}

ul{
    position: absolute;
    display: inline-block;
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: map-get($map: $color, $key: nav);
}