@mixin info {
    p {
        width: 1000px;
        height: 80px;
        margin: 0 auto;
        box-sizing: border-box;
        color: white;
        display: block;
        font-size: 11px;
    }
}