@use "sass:math";



$section-width: 1080px;
$article-width: 230px;
$article-margin: math.div($section-width - $article-width * 4, 3);

section {
  div {
    width: $section-width;
    height: 450px;
    margin: 0 auto;

    >p {
      margin: 40px auto;
      text-align: center;
      font-size: 20px;
      font-weight: 1000;
    }

    >article {
      float: left;
      width: $article-width;

      p:first-of-type {
        font-weight: 1000;
      }

      @for $i from 1 through 3 {
        &:nth-child(#{$i + 1}) {
          margin-right: $article-margin;
        }
      }
    }
  }
}