$section-width: 1080px;
$article-width: 230px;
$article-margin: ($section-width - $article-width * 4) / 3;
//만약에 (0 26.6),(26.6,26.6),(26.6,26.6),(26.6,0)으로 하고 싶으면...
//지금처럼 밑에 nth-child로 각각 넣던가 list로 만들어서 for 돌리는 법도 있다.
//방법이 많아짐 

section {
  div{
    width: $section-width;
    height: 450px;
    margin: 0 auto;

    > p {
      margin: 40px auto;
      text-align: center;
      font-size: 20px;
      font-weight: 1000;
    }
  }
}

article {
  float: left;
  width: $article-width;

  p:first-of-type {
    font-weight: 1000;
  }
}


@for $i from 1 through 4 {
  @if $i != 4 {
    article:nth-child(#{$i + 1}) {
      margin-right: $article-margin;
    }
  }
}