// --------------------main--------------------
$main-color: (
    base: rgb(255,255,255)
);
// --------------------main--------------------


// --------------------section--------------------
// --------------------section--------------------


// --------------------footer--------------------
$footer-color:(
    bg: rgb(0, 9, 103),
    bar: rgb(193, 215, 248),
    list: rgb(255, 255, 255),
    deco: rgb(221, 252, 181),
    hover: rgb(189, 105, 129)
);
// --------------------footer--------------------