// --------------------main--------------------
$main-font-color: rgb(255, 255, 255);
// --------------------main--------------------


// --------------------section--------------------
// --------------------section--------------------


// --------------------footer--------------------
$footer-bg-color: rgb(0, 9, 103);
$footer-bar-color: rgb(193, 215, 248);
$footer-list-font-color: rgb(255, 255, 255);
$footer-font-deco-color: rgb(221, 252, 181);
$footer-font-hover-color: rgb(189, 105, 129);
// --------------------footer--------------------