@import '../../common/common.scss';
@import '../variables.scss';

footer {
  background-color: map-get($map: $footer-color, $key: bg);
  color: map-get($map: $footer-color, $key: list);

  h1 {
    position: absolute;
    left: 10px;
    bottom: 15px;
    margin: 0 auto;
  }

  div {
    width: 1000px;
    height: 100px;
    position: relative;
    margin: 0 auto;
  }

  p {
    display: block;
    width: 1000px;
    height: 100px;
    margin: 0 auto;
    padding: 10px;
    font-size: 11px;
    box-sizing: border-box;
  }

  .footer_menu_bar {
    font-size: 13px;
    right: 20px;
    bottom: 15px;

    a {
      color: map-get($map: $footer-color, $key: list);

      &:hover {
      color: map-get($map: $footer-color, $key: hover);
        cursor: pointer;
      }
    }

    li {
      display: inline-block;
      padding: 0 15px;
      border-right: 2px solid map-get($map: $footer-color, $key: bar);

      &:last-child {
        border-right: none;
      }
    }
  }
}
