//솔직히 div 안에 p 넣고 할 수 있잖아
//구조가 이상하다 싶으면 html이라도 수정해서 완성도를 높이자.
footer {
  background-color: navy;
  color: white;

  h1 {
    position: absolute;
    left: 10px;
    bottom: 15px;
    margin: 0 auto;
  }

  div {
    width: 1000px;
    height: 100px;
    position: relative;
    margin: 0 auto;
  }

  p {
    display: block;
    width: 1000px;
    height: 100px;
    margin: 0 auto;
    padding: 10px;
    font-size: 11px;
    box-sizing: border-box;
  }

  .footer_menu_bar {
    font-size: 13px;
    right: 20px;
    bottom: 15px;

    a {
      color:white;

      &:hover {
      color: purple;
        cursor: pointer;
      }
    }

    li {
      display: inline-block;
      padding: 0 15px;
      border-right: 2px solid white;

      &:last-child {
        border-right: none;
      }
    }
  }
}
