footer {
  background-color: $footer-bg-color;
  color: $footer-list-font-color;

  h1 {
    position: absolute;
    left: 10px;
    bottom: 15px;
    margin: 0 auto;
  }

  div {
    width: 1000px;
    height: 100px;
    position: relative;
    margin: 0 auto;
  }

  p {
    display: block;
    width: 1000px;
    height: 100px;
    margin: 0 auto;
    padding: 10px;
    font-size: 11px;
    box-sizing: border-box;
  }

  .footer_menu_bar {
    font-size: 13px;
    right: 20px;
    bottom: 15px;

    a {
      color: $footer-list-font-color;

      &:hover {
        color: $footer-font-hover-color;
        cursor: pointer;
      }
    }

    li {
      display: inline-block;
      padding: 0 15px;
      border-right: 2px solid $footer-bar-color;

      &:last-child {
        border-right: none;
      }
    }
  }
}
