@use '../../../scss_module/list/row_list_a_bar.scss'  as n;

// utility bar를 직접적으로 조절하는 property
.util_list {
    margin: 0 auto;
    font-size: 20px;
    position: absolute;
    top: 20px;
    right: 30px;


    @include n.row_list_a_bar(0 14px,
        #ab8c8c,
        #ad9cc3,
        11px);

}