@use './chef_text_box.scss' as tBox;


main {
    position: relative;
    width: 1180px;
    height: 590px;
    padding-top: 0.1px; //margin collapse 방지하는 여러가지 방법 중 하나


    >.main_text_box {
        @include tBox.main_text_box();
    }
}