/* -----------------------------common-----------------------------*/
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
    padding: 0px;
}
/* -----------------------------header-----------------------------*/

header {
    width: 100%;
    position: fixed;
    background: white;
    border-bottom: 2px solid black;
    z-index: 1;
}

header div {
    position: relative;
    width: 1180px;
    height: 120px;
}

.global_navigation_bar {
    right: 0px;
    bottom: 0px;
    font-size: 20px;
    padding-right: 16px;
    margin-bottom: 15px;
}
.global_navigation_bar li {
    margin: 0px 30px 0px 30px;
}

.global_navigation_bar li a {
    font-weight: 1000;
    color: rgb(82, 77, 77);
}

.global_navigation_bar li a:hover {
    color: rgb(104, 107, 159);
}

.utility_bar {
    right: 30px;
    top: 20px;
    font-size: 11px;
}

.utility_bar li {
    margin: 0px 14px 0px 14px;
}

li {
    float: left;
}

ul{
    list-style-type: none;
}

div h1 {
    position: absolute;
    left: 10px;
    bottom: 15px;
}

ul{
    position: absolute;
    display: inline-block;
}

li a {
    color: rgb(82, 77, 77);
}

a{
    text-decoration: none;
    color: rgb(82, 77, 77);
}

/* -----------------------------section-----------------------------*/
section {
    padding: 130px 0 0 0;
    width: 1000px;
    font-size: 0;
    background-color: aqua;
}

article {
    position: relative; /* 여기에만 relative */
    float: left;
}
  
.article1{
    width: 700px;
    margin-right: 5px;
}
.article1 p {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: white;
    font-size: 30px;
    font-weight: 1000;
}

.article2{
    width: 280px;
    margin-left: 5px;
    margin-bottom: 5px;
    background-color: aqua;
}
.article2 p {
    position: absolute;
    top: 50px;
    left: 10px;
    color: white;
    font-size: 30px;
    font-weight: 1000;
}

.article3 {
    width: 290px;
    margin: 5px 0 5px 5px;
}
.article3 p {
    position: absolute;
    right:10px;
    bottom: 20px;
    color: white;
    font-size: 20px;
    font-weight: 1000;
}

.article_4_box{
    width: 490px;
    height: 500px;
    margin-right: 5px;
}

.article4 {
    width: 490px;
    height: 240px;
    margin : 5px 0 5px 0;
}

.article4 .p1 {
    position: absolute;
    width: 300px;
    top: 160px;
    font-size: 14px;
    text-align: start;
    /* 95 + 300 + 95 = 490 */
    margin: 0 95px 0 95px;
    font-weight: 600;
}
.article4 .p2 {
    position: absolute;
    font-size: 30px;
    text-align: start;
    right: 20px;
    bottom: 30px;
    color: gold;
    font-weight: 600;
}

.article5{
    margin: 5px 0px 5px 5px;
}

.article6{
    width: 1000px;
    height: 371px;
    margin: 5px 0px 5px 0;
    background-image:url("/rsc/1000x371.png");
}

.article6 p {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin: 160px auto ;
    color: white;
    text-shadow: 3px 10px 3px black;
}

.article7{
    margin: 5px 0px 40px 0;
}
.article7 p {
    width: 450px;
    height: 150px;
    right: 30px;
    bottom: 40px;
    position: absolute;
    font-size: 20px;
    color: white;
}
.article7 p span {
    display: inline;
    font-size: 30px;
    font-weight: 700;
    color: white;
}