/* -----------------------------common-----------------------------*/
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


li {
    float: left;
}

ul{
    list-style-type: none;
}

div h1 {
    position: absolute;
    left: 10px;
    bottom: 15px;
    margin: 0 auto;
}

ul{
    position: absolute;
    display: inline-block;
}

li a {
    text-decoration: none;
    color: rgb(82, 77, 77);
}

/* -----------------------------header-----------------------------*/

header {
    width: 100%;
}

header div {
    position: relative;
    width: 1180px;
    height: 120px;
    margin: 0 auto;
}

.global_navigation_bar {
    right: 0px;
    bottom: 0px;
    font-size: 20px;
    padding-right: 16px;
}
.global_navigation_bar li {
    margin: 0px 30px 0px 30px;
}

.global_navigation_bar li a {
    text-decoration: none;
    font-weight: 1000;
    color: rgb(82, 77, 77);
}

.global_navigation_bar li a:hover {
    color: rgb(104, 107, 159);
}

.utility_bar {
    right: 30px;
    top: 20px;
    font-size: 11px;
    margin: 0 auto;
}

.utility_bar li {
    margin: 0px 14px 0px 14px;
}

/* -----------------------------main-----------------------------*/
main{
    width: 100%;
    height: 590px;

}
main div{
    width: 800px;
    height: 300px;
    margin: 0 auto;
    padding: 150px 0 0 0;
    color: white;
}

.main_title{
    font-size: 80px;
    margin: 0px;
    font-weight: 1000;
}

.main_content{
    font-size: 25px;
    margin: 0px;
}

/* -----------------------------section-----------------------------*/

section {
    width: 100%;
}

section div{
    width: 1080px;
    height: 450px;
    margin: 0 auto;
}
.section_title {
    margin: 50px auto;
    text-align: center;
    font-size: 20px;
    font-weight: 1000;
}

/* 230 * 4 + 40 * 4 = 1080 */
section article {
    width: 230px;
    float: left;
    margin: 0px 20px 0px 20px;
}

section article img{
    width: 230px;
    height: 163px;
}
article p:first-of-type {
    font-weight: 1000;
  }

/* -----------------------------footer-----------------------------*/
footer {
    width: 100%;
    background-color: rgb(1, 1, 49);
    color: gray;
}

footer div {
    width: 1000px;
    height: 100px;
    position: relative;
    margin: 0 auto;
}

footer p{
    display: block;
    width: 1000px;
    height: 100px;
    margin: 0 auto;
    padding: 10px;
    font-size: 11px;
    box-sizing: border-box;
}

.footer_menu_bar{
    font-size: 13px;
    right: 20px;
    bottom: 15px;
}
.footer_menu_bar a {
    color: aliceblue;  /* a 태그에 명시적으로 색상 적용 */
    text-decoration: none; /* 링크에 밑줄 제거 (선택적) */
}
.footer_menu_bar li {
    display: inline-block;
    padding:  0 15px 0 15px; /* 항목과 | 사이의 간격 */
    border-right: 2px solid aliceblue; /* 항목 사이에 | 추가 */
}

.footer_menu_bar li:last-child {
    border-right: none; /* 마지막 항목에는 | 제거 */
}