@use '../../../scss_module/text/img_content.scss' as ic;

$life: '../../../rsc/1000x371.png';
$nomad: '../../../rsc/1000x361.png';

//안에 패턴을 mixin으로 구성할지 말지 반복문을 쓸지 내비둘지 고민해야할 것.
@mixin article_btm {
    div.life {
        width: 1000px;
        height: 371px;
        position: relative;
        margin: 10px 0;

        @include ic.img_content($bg-img: $life,
            $title-size: 50px,
            $title-text-color: #fff,
            $title-margin:160px auto);
        p {
            text-align: center;
            text-shadow: 3px 10px 3px black
        }
    }

    div.nomad {
        width: 1000px;
        height: 361px;
        position: relative;
        font-size: 16px;

        @include ic.img_content($bg-img: $nomad,
            $title-size: 20px,
            $title-text-color: #fff,
            $content-text-color: #fff);

        p {
            position: absolute;
            right: 30px;
            bottom: 150px;

            span {
                display: inline;
                font-size: 30px;
                font-weight: 700;
            }
        }
    }
}