@import "../../common/common.scss";
@import "../../common/header/header.scss";
@import "../../common/navigation_bar/navigation.scss";
@import "../variables_gallery.scss";

header {
    position: fixed;
    background: map-get($map: $color, $key: header-bg);
    border-bottom: 2px solid black;
    z-index: 1;
}

header h1 a {
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus,
  &:active,
  &:visited {
    text-decoration: none;
    outline: none;
    color: inherit;
  }
}
