@import "../../common/header/header.scss";
@import "../../common/navigation_bar/navigation.scss";

header {
    position: fixed;
    background: white;
    border-bottom: 2px solid black;
    z-index: 1;
}

header h1 a {
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus,
  &:active,
  &:visited {
    text-decoration: none;
    outline: none;
    color: inherit;
  }
}

header div {
    position: relative;
    width: 1180px;
    height: 120px;
}
