//header, navigation에서 중첩되는게 너무 많음 어떻게 처리할지 간단하게 고민하기
//그리고 gallery와 index header가 약간 다른데 거기서 if-else를 써야한다.
$color :(
  base: rgb(0, 0, 0),
  nav: rgb(26, 22, 22),
  header-main: rgb(26, 22, 22),
  header-deco: rgb(71, 173, 182)
);

header div {
    position: relative;
    width: 1180px;
    height: 120px;
}

header h1 {
    position: absolute;
    left: 10px;
    bottom: 15px;
}

.global_navigation_bar {
    right: 0px;
    bottom: 0px;
    font-size: 20px;
    padding-right: 16px;
}
.global_navigation_bar>li {
    margin: 0px 30px 15px;
}

.global_navigation_bar>li>a {
    text-decoration: none;
    font-weight: 1000;
    color: map-get($map: $color, $key: header-main);
}

.global_navigation_bar>li>a:hover {
    color: map-get($map: $color, $key: header-deco);
}

.utility_bar {
    right: 30px;
    top: 20px;
    font-size: 11px;
    margin: 0 auto;
}

.utility_bar li {
    margin: 0px 14px;
}